<?xml version="1.0" encoding="UTF-8"?>

<!-- The beans' properties are standards that can be copied from each spring application -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
        
	<!-- Defining a bean for student -->
	<bean id="student" class="com.example.spring.three.Student">
	
		<!-- The student's properties are defined using the constructor. This is 
			called Spring Constructor-based Dependency Injection (DI). To use this kind 
			of DI the bean's class should implement a constructor with the given parameters. 
			To define explicitly to which property a value should assign it name can be used.
			-->
		<constructor-arg name="lastName" value="Mustermann" />
		<constructor-arg name="firstName" value="Max"/>
		<constructor-arg name="age" value="18" />
		
	</bean>
	
</beans>